<div id='content'>


  <h1>Account No. <%= @current_account.number %></h1>

  <p>Current funds: <span id='current_funds'><%= @current_account.current_funds %></span></p>
  <div id='withdraw'>
    <p>Please type in the amount to withdraw</p>
    <%= form_tag(withdraw_url, remote: true, 'data-type' => 'json') do %>
      <%= text_field_tag :amount, "", size: 10 %>
      <%= image_tag 'ajax-loader.gif', class: 'ajax-loader' %>
      <%= submit_tag 'Withdraw' %>
    <% end %>

    <div class='form'>
      <%= form_tag(finish_url) do %>
        <%= submit_tag 'Finish' %>
      <% end %>
    </div>
  </div>

  <div id='refill_info'>
    <h4>Hint</h4>
    <p>
      <%= link_to "Refill +1000", refill_url, remote: true, id: 'refill', method: :post %>
      (testing purposes)
    </p>
  </div>

  <div class='clear'></div>

  <div class='alert' id='withdraw_error'>
  </div>

  <div class='alert' id='withdraw_success'>
  </div>
</div>
