<h2>Welcome to ATM</h2>

<p>Please type in your credit/debit card number and pin.</p>

<div class='table'>
<%= form_tag(atm_authenticate_path) do %>
  <div class='row'>
    <div class='cell'>
      <%= label_tag :number %>
    </div>
    <div class='cell'>
      <%= text_field_tag :number %>
    </div>
  </div>
  <div class='row'>
    <div class='cell'>
      <%= label_tag :pin, "PIN" %>
    </div>
    <div class='cell'>
      <%= password_field_tag :pin %>
    </div>
  </div>
  <div class='row'>
    <div class='cell'>
      <%= submit_tag "Log In" %>
    </div>
  </div>
  <div>
    <h3>Hint - Use any of the following credit cards</h3>
    <p>Number: 1234 / PIN: 1234</p>
    <p>Number: 5678 / PIN: 5678</p>
  </div>
<% end %>
</div>
